@model PracticaSupervisada.Models.Bidones

@{
    ViewData["Title"] = "Editar";
}

<h1 id="contenedor-body">Editar</h1>

<h4 id="contenedor-body">Bidones</h4>
<hr id="contenedor-body" />
<div class="row" id="contenedor-body">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Fecha" class="control-label"></label>
                <input asp-for="Fecha" class="form-control" />
                <span asp-validation-for="Fecha" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cantidad" class="control-label"></label>
                <input asp-for="Cantidad" class="form-control" />
                <span asp-validation-for="Cantidad" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Observaciones" class="control-label"></label>
                <input asp-for="Observaciones" class="form-control" />
                <span asp-validation-for="Observaciones" class="text-danger"></span>
            </div>
            <div class="form-group" id="contenedor-btn">
                <button id="btn-crear" class="btn-primary" type="submit">Guardar</button>
            </div>
        </form>
    </div>
</div>

<div id="contenedor-btn">
    <form asp-action="index" method="get">
        <button id="btn-crear" class="btn-secondary">Regresar</button>
    </form>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
